@charset "UTF-8";
html {
  overflow: auto;
}

body {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  overflow-x: hidden;
}

.container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

.bg-niji {
  background-image: url(../gif/niji.gif);
  background-repeat: repeat;
  width: 1000vw;
  height: 1000vh;
  position: fixed;
  top: 0;
  left: -250vw;
  top: -250vh;
  z-index: -20;
}

#top {
  width: 100vw;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  overflow: hidden;
}
#top .bg-kansha {
  background-image: url(../gif/四方八方感謝太郎.gif);
  background-repeat: repeat;
  background-size: 200px;
  width: 500vw;
  height: 500vh;
  position: absolute;
  top: -250vh;
  left: -250vw;
}
#top .kansha-birth {
  position: relative;
  width: 100vw;
  height: 100vh;
}
#top .bg-niji {
  z-index: 0;
  position: absolute;
}
#top .bg-curtain {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(255, 255, 255, 0.381);
  display: flex;
  align-items: center;
  justify-content: center;
}

#message .message-ct {
  width: 100vw;
  height: 200vh;
}
#message .message-ct .message-box {
  position: -webkit-sticky;
  position: sticky;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  top: 0;
}
#message .message-ct .message-box .message-bg {
  background-color: antiquewhite;
  width: 80vw;
  height: 30vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
#message .message-ct .message-box .message-bg .message {
  color: rgb(139, 145, 145);
  font-size: 4vw;
}

#message-tele .message-tele-ct {
  width: 100vw;
  height: 500vh;
  background-color: rgba(250, 235, 215, 0.946);
  position: absolute;
  top: 0;
  color: rgb(139, 145, 145);
}
#message-tele .message-tele-ct .message-tele-title {
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
  width: 100vw;
  text-align: center;
  font-size: 30px;
  pointer-events: none;
}
#message-tele .message-tele-ct .message-tele-box {
  width: 100vw;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
#message-tele .message-tele-ct .message-tele-box .message-tele-content {
  width: 500px;
  max-width: 90vw;
}
#message-tele .message-tele-ct .message-tele-box .message-tele-name {
  width: 500px;
  max-width: 90vw;
  text-align: right;
}

.bg-gallery {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: -10;
}
.bg-gallery .kansha-loop {
  display: flex;
  width: 4000px;
}
.bg-gallery .kansha-loop .kansha-gallery {
  top: -50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 2000px;
}
.bg-gallery .kansha-loop .kansha-gallery img {
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  max-width: 400px;
  margin: 2px;
  border-radius: 4px;
}
.bg-gallery .comment-flow {
  color: antiquewhite;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  top: 0;
}
.bg-gallery .comment-flow .comment-move {
  position: relative;
  display: inline-block;
  flex-grow: 1;
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 20px;
  left: 100vw;
}
.bg-gallery .comment-yours {
  color: antiquewhite;
  position: absolute;
  display: inline-block;
  flex-grow: 1;
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 20px;
  left: 100vw;
  border: solid 3px #98ba03;
  top: 50vh;
}

#comment .comment-ct {
  position: absolute;
  top: 0;
  height: 500vh;
}
#comment .comment-ct .comment-box {
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  top: 0;
}
#comment .comment-ct .comment-box .comment-bg {
  position: absolute;
  background-color: antiquewhite;
  width: 80vw;
  height: 50px;
  bottom: 100px;
  border-radius: 25px;
}
#comment .comment-ct .comment-box .comment-bg form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  position: relative;
}
#comment .comment-ct .comment-box .comment-bg form .comment-input {
  margin-left: 20px;
  width: 70vw;
  height: 50px;
}
#comment .comment-ct .comment-box .comment-bg form .comment-submit {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  padding: 10px 10px 10px 10px;
}

.bg-history-transparent {
  width: 100vw;
  height: 500vh;
  position: relative;
  scroll-snap-align: start;
}

.bg-history {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: -5;
}
.bg-history .player-frame {
  position: absolute;
  width: 500px;
  height: 400px;
  background-color: black;
  overflow: hidden;
}
.bg-history .player-frame .player-scroll {
  width: 1000vw;
  height: 100%;
  background-image: url("/assets/img/kansha/359E2023-3BE5-405A-BC2F-91EC38A9DBA4.JPG");
}
.bg-history .player-frame .sequence-bar {
  position: absolute;
  bottom: 30px;
  width: 0px;
  height: 5px;
  background-color: red;
}

.ct-tp {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.bg-gallery-transparent {
  width: 100vw;
  height: 1000vh;
  position: relative;
  scroll-snap-align: start;
}
.bg-gallery-transparent .comment-box {
  position: -webkit-sticky;
  position: sticky;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  top: 0;
}
.bg-gallery-transparent .comment-box .comment-bg {
  position: absolute;
  background-color: antiquewhite;
  width: 80vw;
  height: 50px;
  bottom: 100px;
  border-radius: 25px;
}
.bg-gallery-transparent .comment-box .comment-bg form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  position: relative;
}
.bg-gallery-transparent .comment-box .comment-bg form .comment-input {
  margin-left: 20px;
  width: 70vw;
  height: 50px;
}
.bg-gallery-transparent .comment-box .comment-bg form .comment-submit {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  padding: 10px 10px 10px 10px;
}

.bg-history-transparent {
  width: 100vw;
  height: 500vh;
  position: relative;
  scroll-snap-align: start;
}

.bg-history {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: -5;
}
.bg-history .player-frame {
  position: absolute;
  width: 500px;
  height: 400px;
  background-color: black;
  overflow: hidden;
}
.bg-history .player-frame .player-scroll {
  width: 1000vw;
  height: 100%;
  background-image: url("/assets/img/kansha/359E2023-3BE5-405A-BC2F-91EC38A9DBA4.JPG");
}
.bg-history .player-frame .sequence-bar {
  position: absolute;
  bottom: 30px;
  width: 0px;
  height: 5px;
  background-color: red;
}

.bg-black {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
  scroll-snap-align: start;
}
.bg-black .slogan {
  font-size: 10vw;
}
.bg-black .chuokeion {
  font-size: 4vw;
}/*# sourceMappingURL=style.css.map */